<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="pt.iscte.apista.eclipse.api">
      <api
            configuration="config.properties"
            icon="swt.gif"
            model="pt.iscte.apista.ngram.models.NGramModel"
            modelFile="swt.ngram"
            name="SWT">
      </api>
   </extension>
</plugin>
